
body {
    max-width: 1064px;
    
    margin: auto;
}


header {
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
    position: absolute;
    /* display: inline-block; */
    margin-left: 32%;
}


#first {
    border: 1px solid black;
    margin-top: 20%;
}

#second {
    border: 1px solid black;

}

#third {
 border: 1px solid black;
}

td {
    border: solid 1px black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

tr {
    border: solid 1px black; 
    margin-right: auto;
    margin-left: auto;
}


#resultsTable {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
