
body {
    max-width: 1064px;
    
    margin: auto;
}





#first {
    border: 1px solid black;
    margin-top: 20%;
}

#second {
    border: 1px solid black;

}

#third {
 border: 1px solid black;
}


#name {

}

